.mudacor{
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 1920px) and (max-height: 1920px){
    .mudacor {
        background-color: yellow;
    }
    
    .mudacor h1::after{
        content: "Amarelo";        
    }
}
@media screen and (max-width: 1366px) and (max-height: 1366px){
    .mudacor {
        background-color: rebeccapurple;
    }
    
    .mudacor h1::after{
        content: "Roxo";        
    }
}
@media screen and (max-width: 1080px) and (max-height: 1080px){
    .mudacor {
        background-color: red;
    }
    
    .mudacor h1::after{
        content: "Vermelho";        
    }
}
@media screen and (max-width: 1024px) and (max-height: 1024px){
    .mudacor {
        background-color: magenta;
    }
    
    .mudacor h1::after{
        content: "Magenta";        
    }
}
@media screen and (max-width: 768px) and (max-height: 768px){
    .mudacor {
        background-color: orange;
    }
    
    .mudacor h1::after{
        content: "Laranja";        
    }
}
@media screen and (max-width: 420px) and (max-height: 420px){
    .mudacor {
        background-color: grey;
    }
    
    .mudacor h1::after{
        content: "Cinza";        
    }
}